.roadmap-area {
  position: relative;
  padding: 100px 0;
  padding-bottom: 230px;
}

.roadmap-area img.RoadMapBackgrond {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.roadmapWrp-blk {
    display: flex;
    position: absolute;
    left: 100px;
    top: 55px;
}

.roadmapWrp-blk h2 {font-size: 36px;color: #fff;margin-right: 150px;position: relative;}

.roadmapWrp-blk li {
    display: block;
    padding-left: 20px;
    position: relative;
    margin-bottom: 6px;
    color: #fff;
}

.roadmapWrp-blk li::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 15px;
    left: 0;
    top: 5px;
    border-right: 2px solid #5BCCFC;
    border-bottom: 2px solid #5BCCFC;
    transform: rotate(36deg);
}

.roadmapWrp-blk li.roundShape::before {
    width: 9px;
    height: 9px;
    top: 10px;
    left: -2px;
    border-radius: 9px;
    border: none;
    background: #C04E4E;
    transform: rotate(0deg);
}

.roadmapWrp-blk h2:after {
    content: "";
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    top: 10px;
    right: -75px;
    border-radius: 50%;
    box-shadow: 0px 0px 11px 8px #ff000059;
}
.swiper-slide.swiper-slide-active .roadmapWrp-blk h2:after { 
    background: #8ff7a2; 
    box-shadow: 0px 0px 11px 8px #8ff7a266;
}







.swiper {
  width: 100%;
  height: 700px;
  padding-right: 150px;
}

.swiper-slide {
  background: #0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev, .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  right: 0;
  left: auto;
}

.swiper-button-prev, .swiper-button-next{
  transform: rotate(180deg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #8FF7A2;
  top: 44%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  border-top: 20px solid #ffffff00;
  border-right: 20px solid #8FF7A2;
  color: #8FF7A2;
  font-size: 0;
  transform: rotate(45deg) translate(-50%,-50%);
  position: absolute;
  left: 29%;
  top: 50%;
}
.swiper-button-next {
  top: 54%;
}
.swiper-button-next {
  top: 54%;
}

.swiper-button-next::after {
  transform: rotate(-136deg) translate(20%,22%);
}
.roadmap_slider {
  cursor: url("../../imgs/arrow_32.png"),auto;
}
