.btns {
    margin-left: 50px;
    display: flex;
    align-content: center;
}
.btns button.theme-btn.theme-btn-round{
    margin-left: 15px;
}
button.theme-btn { 
    height: 43px;
    width: 121px;
    text-align: center;
    background: linear-gradient(-90deg, #68E0E1, #2C5F89);
    border: none;
    color: #97DAF7;
    padding: 0px 5px;
    font-size: 15px;
    line-height: 22.5px;
    transition: .3s;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    text-transform: capitalize;
    overflow: hidden;
}

button.theme-btn:hover, button.theme-btn:hover:before {
    color: #fff;
    opacity: 1;
}
button.theme-btn:after {
    content: "";
    position: absolute;
    width: 98%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #161243;
    z-index: -2;
    border-radius: 5px;
}
button.theme-btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(-90deg, #6AC9F1, #231E5B);
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    transition: .3s;
}

button.theme-btn.theme-btn-round {
    width: 43px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
button.theme-btn.theme-btn-round::before{
    background: url(../../../imgs/HoveredLogo.png);
    background-size: 100% 100%;
    transition-timing-function: cubic-bezier(0.12, -0.11, 1, 1.03);
    z-index: 3;
}
button.theme-btn.theme-btn-round::after{
    border-radius: 50%;
    width: 90%;
}
button.theme-btn.theme-btn-round:hover{
    color: transparent;
    background: transparent;
}

















