.team-area {
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
    min-height: 1130px;
    z-index: 2;
}

.team-area img.TeamBackg {
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    position: absolute;
    z-index: -1;
}

p {
    padding-bottom: 0px !important;
}

.teamBlk {
    background: rgba(29, 24, 87, 0.5);
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    transition: .3s;
}
.teamBlk:hover{
    box-shadow: 0px 0px 15px 5px #004cff;
}
.teamBlk img {
    display: block;
    max-width: 200px;
    margin: auto;
    margin-bottom: 15px;
}

.teamBlk  h5 {
    font-size: 20px;
}

.teamBlk span {
    font-weight: 500;
    display: block;
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
    margin-top: 10px;
}

.teamBlk p {
    margin: 0;
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.teamBlk:hover p {
    height: 110px;
}
