.content-block {
    padding: 20px;
    background: linear-gradient(rgba(33, 27, 99, 0.85), rgba(33, 27, 99, 0.15));
    border-radius: 30px;
    line-height: 25px;
    padding-bottom: 20px;
    position:relative;
    font-family: DaxRegular;
    transition: 0.3s;
}

.content-block h5 {
    font-weight: 600;
    font-size: 26px;
    color: #BDE0A2;
    text-align: center;
    margin-bottom: 20px;
}

.content-block p {
    margin-bottom: 0px;
}
.content-block img {
    display: block;
    margin: auto;
    max-height: 150px;
    margin-top: 50px;
}
.content-block ul li {
  position: relative;
  padding-left: 5px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.content-block ul li:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    margin-right: 10px;
}
.content-block:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(33 27 99), rgb(33 27 99 / 41%));
    border-radius: 30px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.content-block:hover:after {
    opacity: 1;
}
