button.scrollToUp {
    position: fixed;
    bottom: 50px;
    right: 110px;
    z-index: 99;
    border: none;
    padding: 7px 5px;
    border-radius: 5px;
    transition: .3s;
    background: rgba(35, 58, 171, 0.33);
}
button.scrollToUp  path {
    fill: #fff;
}